body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(http://bit.ly/2gPLxZ4);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
a {
  text-decoration: none;
  color: white;
}
textarea {
  resize: none;
}
.form {
  position: relative;
  border: 1px solid;
  padding: 30px;
  box-shadow: inset 0 0 0 200px rgb(0 0 0 / 78%);
  z-index: 2;

  /*! Это потом нужно будет удалить  */
  /* display: none; */
}

.moving-first-form {
  animation: form-move 2s forwards;
}
.moving-second-form {
  z-index: 1;

  animation: form-move-second 2s forwards;
}

#app {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}
.list {
  list-style: none;
  padding: 0;
}
.initial-form > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  border: 1px solid;
  outline: none;
}
.btn {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;

  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  background-color: #42cc8c;
  cursor: pointer;
}
.btn:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}
.btn-wrapper {
  text-align: center;
}

.initial-form > li input {
  display: block;
  width: 250px;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;

  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;

  border-radius: 0.25rem;
}
.initial-form > li input::placeholder {
  color: rgb(247, 0, 255);
}
.initial-form > li:not(:last-child) {
  margin-bottom: 15px;
}
.initial-form > li label {
  margin-bottom: 5px;
  color: #fff;
}

.valid {
  outline: none;
  border: 2px solid;
  border: rgb(3, 243, 3) solid 3px;
}
.invalid {
  animation: shake 300ms;

  outline: none;
  border: rgb(255, 0, 0) solid 3px;
}
.errorMsgStyle {
  color: red;
  width: 300px;
  margin-top: 10px;
  text-align: center;
}
@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

.errorMsg {
  text-align: center;
  font-size: 0.7rem;
  color: red;
  margin-top: 5px;
}
.shead-btn {
  opacity: 0.5;
}

/* Стили для второй формы */

.second-form {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  box-shadow: inset 0 0 0 200px rgb(0 0 0 / 78%);
  padding: 0.8rem;
  transform: translate(-50%, -50%);
}
.second-from-hide {
  position: absolute;
  box-shadow: inset 0 0 0 200px rgb(0 0 0 / 78%);
  padding: 1.5rem;
  height: 400px;
  /*! Это потому нужно будет раскомментить  */
  opacity: 0;
}
.second {
  z-index: 1;
  animation: appear-second-from 2s forwards;
}
.style-sc-form > li {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.common-text {
  color: #fff;
  margin-bottom: 10px;
}

/* Стили для третьей формы  */

#third-form {
  position: absolute;

  box-shadow: inset 0 0 0 200px rgb(0 0 0 / 78%);
  padding: 0.8rem;

  z-index: 0;
  min-height: 400px;
}
/* ! Это чтобы спрятать */
.third-from-hide {
  opacity: 0;
  animation: close-last-form 2s forwards;
}
.centering-content {
  text-align: center;
}
/* ! Это на появление формы */
.third {
  z-index: 0;
  animation: appear-third-from 2s forwards;
}
.show-initial-form {
  animation: back-first-form 2s forwards;
}

/* Стили для чекбокса */
#checkbox {
  /*скрыть чекбокс*/
  /* appearance: none; */
  display: none;
}
.hide-third-form {
  animation: disappear-third-form 2s forwards;
}

span.custom-switcher {
  position: absolute;
  width: 73px;
  height: 28px;
  left: 40%;
  top: 18%;
  border-radius: 80px;
  background: #fe0000;
  transition: 0.5s;
  box-shadow: 0 15px 25px #fe000066;
}

.custom-switcher > i {
  position: absolute;
  left: 4px;
  top: 1.5px;
  width: 24px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
input:checked + span {
  background: #05be05; /*цвет отмеченного чекбокса*/
  box-shadow: 0 15px 25px #05be0566; /*тень*/
}
input:checked + span i .eyes-switcher {
  background: #05be05; /*цвет отмеченного чекбокса*/
  box-shadow: 0 15px 25px #05be0566; /*тень*/
}
input:checked + span i {
  left: 45px; /*сдвиг круга*/
}

.eyes-switcher {
  width: 5px;
  height: 5px;

  margin-top: 5px;
  border-radius: 50%;
  background: #fe0000;
  box-shadow: 31px 0 0 #fe0000;
  transition: 0.5s;
}

.custom-switcher i::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: calc(78% - 15px);
  width: 15px;
  height: 6px;
  border-radius: 6px;
  background: #fe0000;
  transition: 0.5s;
}

.custom-switcher i {
  display: flex;
  justify-content: space-around;
}

/* Рисуем улыбку для зелёного свитчера */
input:checked + span i::after {
  bottom: 4px;
  height: 8px;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #05be05;
}

/* Стили для кастомного силекта  */
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
select::-ms-expand {
  display: none;
}
select {
  outline: none;
}
.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select::after {
  content: '';
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.select {
  display: grid;
}
.select {
  grid-template-areas: 'select';
}
select,
.select:after {
  grid-area: select;
}
.select {
  align-items: center;
}
.select:after {
  justify-self: end;
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}
.select {
  position: relative;
}
.comment-section {
  padding: 15px;
}

/* Стили для модального окна */
.list-header {
  font-weight: 700;
}

.list-content {
  background-color: rgb(216, 246, 239);
}

.fade-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0 0 0 / 93%);
  z-index: 3;
}

.modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-hidden {
  display: none;
}

.modal {
  /* Border */
  border: 1px solid rgba(255, 255, 255);
  border-radius: 4px;
  width: 350px;
  height: 350px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0.3);
}

.modal__footer {
  text-align: center;
  border-top: 1px solid rgba(245 245 245);
  height: 100%;
}
.btn-dark {
  margin-top: 25%;
}
.btn-close {
  cursor: pointer;
}
.text-color {
  color: #fff;
  margin: 0;
  padding: 15px;
}
.span-text {
  color: rgb(25, 25, 214);
}
.hidden {
  display: none;
}

/*? Медиа правила  */
@media screen and (max-width: 320px) {
  .form {
    width: 250px;
    padding: 15px;
  }
  .list > li input {
    width: 200px;
  }

  .list > li input::placeholder {
    font-size: 0.8rem;
  }

  .list > li label {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 576px) {
  .nav__menu {
    width: 342px;
  }
  .home__search {
    width: 412px;
  }
  .contact__card {
    grid-template-columns: repeat(2, 192px);
    justify-content: center;
  }

  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
}
@media screen and (min-width: 767px) {
}

/*? Анимация для форм */
.hide-third-form {
  animation: close-last 2s forwards;
}
/* .close-last {
  animation: close-last 2s forwards;
} */
/* animation: close-last-form 2s forwards; */

@keyframes form-move {
  0% {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }
  100% {
    opacity: 0;
    transform: translateX(-345px);
    pointer-events: none;
  }
}

@keyframes form-move-second {
  0% {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }
  100% {
    opacity: 0;
    transform: translateX(-345px);
    pointer-events: none;
  }
}
@keyframes appear-second-from {
  0% {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
  }
}

@keyframes appear-third-from {
  0% {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
  }
}

@keyframes disappear-third-form {
  0% {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }
  100% {
    opacity: 0;
    transform: translateX(-345px);
    pointer-events: none;
  }
}
@keyframes back-first-form {
  0% {
    opacity: 0;
    transform: translateX(-345px);
    pointer-events: none;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }
}
@keyframes close-last {
  0% {
    opacity: 1;
    transform: scale(0);
    pointer-events: none;
  }
  100% {
    opacity: 0;
    transform: translateX(0);
    pointer-events: all;
  }
}
@keyframes close-last-form {
  50% {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
  }
  100% {
    opacity: 0;
  }
}
/* appear-third-from */
